<style type="text/css">
  dt,dd{
    color: #fff;    
    font-size: 25px;
  }  
</style>
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom:50px;">Let's talk.</h3>
                </div>
             </div>  
             <div class="row"> 
                <div class="col-md-4">
                  <dl class="dl-horizontal">
                   <dt> Email </dt>
                   <dd><a href="mailto:hello@datamantra.io">   hello@datamantra.io</a></dd>     
                   </dl>
                   <dl class="dl-horizontal">             
                   <dt> Tel </dt>
                   <dd>(+91)9686409878</dd>  
                   </dl>                
                   <dl class="dl-horizontal">             
                   <dt> Twitter </dt>
                   <dd><a href="http://twitter.com/datamantra">@datamantra</a></dd>  
                   </dl> 
                   <dl class="dl-horizontal">             
                   <dt> US Office </dt>                   
                   <dd>16308 NE 46th Street</dd>
                   <dd>Redmond, WA-98052</dd>
                   </dl> 
                   <dl class="dl-horizontal">             
                   <dt> India Office </dt>                   
                   <dd> 3rd Cross, 1st Main</dd>
                   <dd> Vinayaka Nagar , Bangalore - 560017</dd>
                   </dl>                    
                </div>
                <div class="col-md-2"></div>


                <div class="col-md-6 hidden-xs">
                <div style="padding-bottom:10%;">
                <dl class="dl-horizontal;margin-bottom : 10%;">
                   <dt>US</dt>
                </dl>   
                <a class="map" target="_new" href="https://www.google.co.in/maps/place/16308+NE+46th+St,+Redmond,+WA+98052,+USA/@47.651137,-122.123369,17z/data=!4m2!3m1!1s0x54906d640eb843c1:0xa47e490359de1c04?hl=en">
           <img src="http://maps.google.com/maps/api/staticmap?center=47.6511370,-122.1233690&amp;zoom=14&amp;size=400x200&amp;maptype=roadmap&amp;sensor=false&amp;language=&amp;markers=color:red|label:none|47.6511370,-122.1233690">
           </a>
           </div>
           <div>
           <dl class="dl-horizontal;margin-bottom : 10%;">
                   <dt>India</dt>
                </dl>   
                <a class="map" target="_new" href="https://www.google.co.in/maps/place/Vinayak+Nagar+B-Block,+Vinayaka+Nagar,+Murugeshpalya,+Bengaluru,+Karnataka+560017/@12.9536462,77.6601229,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae13f159ea4321:0xf11370cdb8a0595e?hl=en">
           <img src="http://maps.google.com/maps/api/staticmap?center=12.9536462,77.6601229&amp;zoom=14&amp;size=400x200&amp;maptype=roadmap&amp;sensor=false&amp;language=&amp;markers=color:red|label:none|12.9536462,77.6601229">
           </a>
           </div>
            </div>
            </div>   
            </div>         
    </section>