    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Data matra</div>
                <div class="intro-lead-in">Big data experts</div>
                <a href="#services" class="btn btn-circle page-scroll ">
                 <i class="fa fa-angle-double-down animated"> </i>
                </a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

