<style type="text/css">
   .navbar .divider-vertical {
    height: 30px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background:rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}



@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}   

.social-button {
  font-size: 1.2em;
}



</style>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}">{{site.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a   href="{{ "/consulting" | prepend: site.baseurl}}">Consulting</a>
                </li>
                <li>
                    <a href="{{ "/training" | prepend: site.baseurl}}">Training</a>
                </li>
                <li>
                    <a href="/">Blog</a>
                </li>
                <li>
                    <a href="{{ "/company" | prepend: site.baseurl}}">Company</a>
                </li>     

                <li class="divider-vertical"></li>                                        
                <li class="social-button"><a href="http://www.twitter.com/datamantra"><i class="fa fa-twitter"></i></a>
                </li>                    
                <li class="social-button"><a href="mailto:hello@datamantra.io"><i class="fa fa-envelope"></i></a>
                </li>                    
                <li class="social-button"><a href="tel:+919686409878"><i class="fa fa-phone"></i></a>
                </li>                    
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

