<!-- Services Section -->
<section id="services">
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted"> Big data consulting and trainings.</h3>
            </div>
        </div>
        <!-- Consulting section -->
        <div class="row text-center">        
            <a href="{{ "consulting" | prepend: site.baseurl}}">        
                <div class="col-md-4">                    
                    <span class="fa-stack fa-4x">                        
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-laptop fa-stack-1x fa-inverse"></i>                       
                    </span>                    
                    <h4 class="service-heading">Consulting</h4>
                    <p class="text-muted">Big data consulting in US and Bangalore. Consulting available for Spark, Hadoop and ecosystem projects.</p>
                </div> 
            </a>

            <!-- Training section -->
            <a href="{{ "training" | prepend: site.baseurl}}">
                <div class="col-md-4">                    
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>                    
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">Big data training in US and Bangalore. Training available for Spark, Hadoop and ecosystem projects.</p>
                </div> 
            </a>

            <!-- Open source section -->
            <a href="https://www.github.com/phatak-dev">
                <div class="col-md-4">                    
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>                    
                    <h4 class="service-heading">Open source</h4>
                    <p class="text-muted">High quality Hadoop and Spark libraries. All available under Apache license in github.
                    </p>
                </div>
            </a> <!-- end of training section -->

        </div> <!-- end of row  -->

    </div> <!-- end of container -->
</section>